<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edreamoon.photo">

    <application>
        <activity android:name="com.edreamoon.photo.PhotoActivity" />
        <activity android:name="com.edreamoon.photo.SecActivity" />
    </application>

</manifest>